
.countStyle {
    color: #666666;
    font-weight: bold;
}

.paginationNav {
    text-align: center;
}

.imageBlock {
    position: relative;
}

.imageBlock img {
    width: 100%;
    height: 250px;
    margin-top: 20px;
}

.imageBlock div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imageBlock div h3 {
    display: none;
}

.imageBlock div h5 {
    display: none;
}

.imageBlock div:hover {
    background-color: #333;
    opacity: 0.8;
}

.imageBlock div:hover h3 {
    display: block;
    color: white;
    word-break: break-all;
    word-wrap: break-word;
    position: absolute;
    top: 100px;
    left: 20px;
    width: 90%;
    text-align: center;
    font-weight: bold;
}

.imageBlock div:hover h5 {
    display: block;
    color: white;
    position: absolute;
    bottom: 5px;
    left: 20px;
    width: 90%;
    text-align: center;
    font-weight: bold;
}

.dialogImg {
    width: 100%;
}

.input-group {
    margin-bottom: 10px;
}

.newsImg {
    width: 100%;
    height: 100px;
}