
.content{
    margin:20px 10px;
}

select{
    padding:5px 50px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

select:hover{
    -moz-box-shadow: 0 0 5px #777; /*firefox*/
    -webkit-box-shadow: 0 0 5px #777; /*safari或chrome*/
    box-shadow: 0 0 5px #777; /*opera或ie9*/
}