.head, .tablePanel {
    margin: 20px;
}

.tablePanel {
    height: 700px;
    overflow: scroll;
}

.table {
    width: 100%;
}

.spanbox, .calendar-inputWrap {
    display: inline-block;
    line-height: 34px;
}

.inputbox {
    margin: 0 10px;
}

.buttonbox {
    float: right;
}

.buttonlink {
    display: inline-block;
    width: 100%;
    color: #fff;
}

.buttonlink:hover {
    text-decoration: none;
    color: #fff;
}

.maxChose, .minChose {
    width: 150px;
    height: 34px;
    border-radius: 8px;
    border: 1px solid #999;
    padding-left: 15px;
}

td, th {
    text-align: center;
    min-width: 95px;
    width: 95px;
}
