
.roundContainer {
    border: 1px solid #AAA;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #DDDDDD;
    margin: 20px;
    padding: 10px;
    -moz-box-shadow: 2px 3px 15px #909090; /*firefox*/
    -webkit-box-shadow: 2px 3px 15px #909090; /*safari或chrome*/
    box-shadow: 2px 3px 15px #909090; /*opera或ie9*/
}

.diagram {
    border: 1px solid #AAA;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    height: 400px;
    background: #FFF;
    padding: 0;
}

.diagram > canvas {
    width: 100%;
    height: 100%;
}

.control {
    text-align: center;
}

.control > h4 {
    font-weight: bold;
}