

table *{text-align: center;}
.padding0 .choseBlock{
    position: relative;
}

.padding0 {
    padding: 0
}

.modal-body > div {
    margin: 10px;
    padding: 10px;
    background: #ebebeb;
    border: 2px solid #a6a6a6
}

.rankOrder {
    margin-top: 50px
}


.padding0 .choseBlock span{
    margin-top: 5px;
    display: block;
    width: 100%;
    text-align: center;
}

.padding0 .minChose{
    position: absolute;
    width: 45%;
    left: 0;
    top:0;
    border-radius: 5px !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.padding0 .maxChose{
    position: absolute;
    width: 45%;
    right: 0;
    top:0;
    border-radius: 5px !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.margintop10{margin-top: 10px !important;}

.lineheight34{line-height:34px;}

.overflowh{overflow:hidden;}

.rank *{
    font-size: 14px;
    color:#333;
    font-weight: bold !important;
}
.none{
    display: none;
}
.shownone{
    display: show;
}