<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Author" content="Johnson,starjohnson@sina.com">
    <title>微信基础信息配置</title>

    <link href="lib/bootstrap3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="lib/bootstrap3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <link href="lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet">

    <link href="css/ConfigStyle.css" rel="stylesheet">
    <link href="css/basicConfig.css" rel="stylesheet">
</head>
<body ng-app="wechatApp" ng-controller="wechatCtrl">

<div class="outerContainer" id="head">

    <div class="AddBtnPanel" id="btnPanel">
        <button type="button" class="btn btn-success" ng-click="openAddDialog()">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            添加
        </button>
        <button type="button" class="btn btn-success" ng-click="openEditDialog()">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            编辑
        </button>
        <button type="button" class="btn btn-success" ng-click="doDelete()">
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
            删除
        </button>
    </div>

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th width="50">选择</th>
            <th width="50">编号</th>
            <th>备注名称</th>
            <th width="100">公众号账号</th>
            <th width="100">app_id</th>
            <th width="150">app_secret</th>
            <th width="100">token</th>
            <th width="100">地址</th>
            <th width="50">启用</th>
            <th width="50">默认</th>
            <th width="50">ATS</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in basicList">
            <td class="form-group" align="center" ng-click="doSelect($index);">
                <label>
                    <input type="checkbox" ng-checked="item.checked">
                </label>
            </td>
            <td ng-bind="$index+1"></td>
            <td ng-bind="item.remark"></td>
            <td ng-bind="item.wechatAccount"></td>
            <td ng-bind="item.appId"></td>
            <td ng-bind="item.appSecret"></td>
            <td ng-bind="item.token"></td>
            <td ng-bind="item.url"></td>
            <td class="form-group" align="center" ng-click="usingChecked(item.id,!item.using)">
                <label>
                    <input type="checkbox" ng-checked="item.using">
                </label>
            </td>
            <td class="form-group" align="center" ng-click="defaultChecked(item.id)">
                <label>
                    <input type="checkbox" ng-checked="item.default">
                </label>
            </td>
            <td class="form-group" align="center" ng-click="selectTokenServer($index)">
                <label>
                    <input type="checkbox" ng-checked="item.usingTokenServer">
                </label>
            </td>
        </tr>
        </tbody>
    </table>

    <nav class="paginationNav">
        <ul class="pagination">
            <li>
                <a href="#head" aria-label="Previous" ng-click="getPrevious()">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
            </li>
            <li ng-repeat="item in pageGroup" ng-class="item.css">
                <a href="#head" ng-click="openPage($index)"
                   ng-bind="$index+1"></a>
            </li>
            <li>
                <a href="#head" aria-label="Next" ng-click="getNext()">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
        <p>共{{pageGroup.length}}页 {{totalCount}}条记录</p>
    </nav>
</div>

<div class="modal fade" id="basicConfigModal" tabindex="-1" role="dialog" data-backdrop="false"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    {{basicModelData.title}}
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="modelRemark">备注名:</label>
                    <input type="text" class="form-control" id="modelRemark" placeholder="备注名"
                           ng-model="basicModelData.remark">
                </div>
                <div class="form-group">
                    <label for="modelAccount">公众号账号:</label>
                    <input type="text" class="form-control" id="modelAccount" placeholder="公众号账号"
                           ng-model="basicModelData.wechatAccount">
                </div>
                <div class="form-group">
                    <label for="modelAppId">app_id:</label>
                    <input type="text" class="form-control" id="modelAppId" placeholder="app_id"
                           ng-model="basicModelData.appId">
                </div>
                <div class="form-group">
                    <label for="modelSecret">app_secret:</label>
                    <input type="text" class="form-control" id="modelSecret" placeholder="app_secret"
                           ng-model="basicModelData.appSecret">
                </div>
                <div class="form-group">
                    <label for="modelToken">token:</label>
                    <input type="text" class="form-control" id="modelToken" placeholder="token"
                           ng-model="basicModelData.token">
                </div>
                <!--<div class="form-group">
                    <label for="modelUrl">URL:</label>
                    <input type="text" class="form-control" id="modelUrl" placeholder="地址"
                           ng-model="basicModelData.url">
                </div>-->
                <label for="modelUrl">URL:</label>
                <div class="input-group">
                    <span class="input-group-addon">http://120.26.54.131/GLCPWCC/wechat/</span>
                    <input type="text" class="form-control" id="modelUrl" placeholder="地址"
                           ng-model="basicModelData.url">
                </div>
                <td class="form-group" align="center">
                    <label>
                        <input type="checkbox" ng-checked="basicModelData.usingTokenServer" ng-click="doModalChecked()">
                        启用ATS
                    </label>
                </td>
                <div class="form-group">
                    <label for="modelATS">ATS(Access Token Server):</label>
                    <input type="text" class="form-control" id="modelATS" placeholder="ATS"
                           ng-model="basicModelData.tokenServer">
                </div>
                <td class="form-group" align="center">
                    <label>
                        <input type="checkbox" ng-checked="" ng-click="">
                        对外提供ATS
                    </label>
                </td>
                <div class="form-group">
                    <label for="modelProvideATS">ATS地址:</label>
                    <input type="text" class="form-control" id="modelProvideATS" placeholder="ATS地址"
                           ng-model="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" ng-click="basicModelConfim(basicModelData.title)">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- loading dialog -->
<div class="modal fade" id="loadingDialog" tabindex="-1" role="dialog" data-backdrop="false"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    LOADING...
                </h4>
            </div>
            <div class="modal-body loadingCover">
                <p>正在加载...</p>
                <img src="image/loading.gif">
            </div>
        </div>
    </div>
</div>

<script src="lib/jquery2.2.4/jquery.min.js"></script>
<script src="lib/bootstrap3.3.6/js/bootstrap.min.js"></script>

<script src="lib/angular1.5.7/angular.min.js"></script>
<script src="lib/angular1.5.7/angular-sanitize.min.js"></script>

<script src="lib/jquery-confirm/jquery-confirm.min.js"></script>

<script src="js/util.js" type="text/javascript"></script>
<script src="js/conf.js" type="text/javascript"></script>
<script src="js/ctrl/basicCtrl.js" type="text/javascript"></script>

<script src="js/service/basicService.js" type="text/javascript"></script>
<script src="js/service/paginationService.js" type="text/javascript"></script>

</body>
</html>