<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Author" content="Johnson,starjohnson@sina.com">
    <title>Title</title>

    <link href="lib/bootstrap3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="lib/bootstrap3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <link href="lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet">

    <link href="css/ConfigStyle.css" rel="stylesheet">
    <link href="css/couponMessage.css" rel="stylesheet">
</head>
<body ng-app="wechatApp" ng-controller="wechatCtrl">

<div class="container-fluid">

    <div class="contentBlock">
        <div class="page-header">
            <h3>第1步 数据准备
                <small></small>
            </h3>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 form-group">
                <label>推送内容</label>
                <textarea class="form-control">
{first.DATA}
兑换券名称：{keyword1.DATA}
兑换券数量：{keyword2.DATA}
兑换码：{keyword3.DATA}
有效期：{keyword4.DATA}
{remark.DATA}
            </textarea>
            </div>
            <div class="col-sm-6 col-md-6 form-group">
                <label>示例效果</label>
                <textarea class="form-control">
您成功领取了绿地鲜生的兑换券
兑换券名称：10元兑换券
兑换券数量：1
兑换码：123123
有效期：2015.01.01 - 2015.12.12
快乐生活，源自多彩绿地。
            </textarea>
            </div>
        </div>
        <div class="alert alert-info" role="alert">
            <strong>注意：</strong>您需要准备上面所示的6个数据（first,keyword1~4,remark），此外还需要目标用户的openid和详情页的URL地址
        </div>
    </div>

    <div class="contentBlock">
        <div class="page-header">
            <h3>第2步 下载Excel模板
                <small>下载模板并编辑信息</small>
            </h3>
        </div>
        <div class="input-group">
        <span class="input-group-btn">
            <a href="{{messagePusherDat.templateUrl}}" target="_blank"><button type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                下载Excel模板
            </button></a>
          </span>
            <input type="text" class="form-control" ng-model="messagePusherDat.templateUrl" id="templatesCopyDat">
            <span class="input-group-btn">
            <button type="button" class="btn btn-success" id="templatesCopyBtn"
                    data-clipboard-target="templatesCopyDat">
                <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
                复制地址
            </button>
          </span>
        </div>
        <div class="alert alert-danger" role="alert">
            <strong>注意：</strong>同一用户在不同公众号的openid是不同的，填写时请确认。
        </div>
    </div>

    <div class="contentBlock">
        <div class="page-header">
            <h3>第3部 上传并执行
                <small>上传Excel文件并推送消息</small>
            </h3>
        </div>
        <form id="uploadForm">
            <div class="input-group">
                <input type="file" class="form-control" id="file" name="file">
                <span class="input-group-btn">
                <button type="button" class="btn btn-success" onclick="do_upload()">
                    <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                    上传并执行
                </button>
              </span>
            </div>
        </form>
    </div>

</div>

<script src="lib/jquery2.2.4/jquery.min.js"></script>
<script src="lib/bootstrap3.3.6/js/bootstrap.min.js"></script>

<script src="lib/angular1.5.7/angular.min.js"></script>
<script src="lib/angular1.5.7/angular-sanitize.min.js"></script>

<script src="lib/jquery-confirm/jquery-confirm.min.js"></script>

<script src="lib/jquery-confirm/jquery-confirm.min.js"></script>
<script src="lib/ZeroClipboard/ZeroClipboard.min.js"></script>

<script src="js/util.js" type="text/javascript"></script>
<script src="js/conf.js" type="text/javascript"></script>
<script src="js/ctrl/couponMessageCtrl.js" type="text/javascript"></script>
</body>
</html>