<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Author" content="Johnson,starjohnson@sina.com">
    <title>绿地微信后台</title>

    <link rel="shortcut icon" href="image/G.ico">
    <link rel="Bookmark" href="image/G.ico">

    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">


    <link href="main.css" rel="stylesheet">
</head>
<body ng-app="wechatApp" ng-controller="wechatCtrl">

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <div><img src="image/G.ico">&nbsp;<span><b>GreenLand</b></span></div>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a>系统通知</a></li>
                <li><a href="#">登陆</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="headBlock">
    <div class="container">
        <h1>绿地微信管理后台</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-4 buttonPanel">
            <!-- button panel -->
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active" ng-repeat="item in parentButtonList">
                    <a ng-bind="item.buttonName"></a>
                </li>
                <li role="presentation"><a href="#">按钮2</a></li>
                <li role="presentation"><a href="#">按钮3</a></li>
            </ul>
        </div>
        <div class="col-md-10 col-sm-9 col-xs-8">
            <!-- main container -->
        </div>
    </div>
</div>



<script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="http://cdn.bootcss.com/angular.js/1.5.7/angular.min.js"></script>
<script src="http://cdn.bootcss.com/angular-sanitize/1.5.7/angular-sanitize.min.js"></script>

<script src="main.js" type="text/javascript"></script>
</body>
</html>