<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <link rel="shortcut icon" href="image/logo.ico">
    <link rel="Bookmark" href="image/logo.ico">

    <link href="lib/bootstrap3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="lib/bootstrap3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <link href="lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet">

    <link href="css/ConfigStyle.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="js/reset.js" type="text/javascript"></script>
</head>
<body ng-app="wechatApp" ng-controller="wechatCtrl">
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <div><img src="image/logo.ico">&nbsp;<span><b>GreenLand 绿地集团</b></span></div>
            </a>
        </div>
    </div>
</nav>
<div class="headBlock">
    <div class="container">
        <h1>微信管理后台</h1>
    </div>
</div>

<div class="body" style="width: 1080px;padding-left: 260px;">
    <div class="body_left">
        <form action="" method="post" name="creator" enctype="multipart/form-data">
            <div class="body_left_txt">
                <span class="font_size " style="margin-left:60px;">重置密码：</span>
            </div>
            <br clear="all">
            <div style="margin-left:116px;">
                <div class="body_left_txt" style="text-align:right;">
                    <span class="font_size_h">密码：</span>
                </div>
                <div class="body_left_main">
                    <input type="password" id="pwd1" name="pwd1" class="box" onBlur="checkPass();" />
                    <div id="perfect_pwd1" class="formerrmsg" ></div>
                    <br />
                </div>
                <br clear="all">
            </div>
            <div style="margin-left:100px;">
                <div class="body_left_txt" style="text-align:right;">
                    <span class="font_size_h">新密码：</span>
                </div>
                <div class="body_left_main">
                    <input type="password" id="pwd1" name="pwd1" class="box" onBlur="checkPass();" />
                    <div id="perfect_pwd1" class="formerrmsg" ></div>
                    <br />
                </div>
                <br clear="all">
            </div>
            <div style="margin-left:85px;">
                <div class="body_left_txt" style="text-align:right;">
                    <span class="font_size_h">确认密码：</span>
                </div>
                <div class="body_left_main">
                    <input type="password" id="pwd2" name="pwd2" class="box" onBlur="checkRepass();" />
                    <div id="perfect_pwd2" class="formerrmsg" ></div>
                    <br />
                    <span class="font_txt">请再次输入密码</span>
                </div>
                <br clear="all">
            </div>
            <div class="AddBtnPanel" id="btnPanel"  style="padding-top: 50px;">
                <button type="button" class="btn btn-success" data-dismiss="modal" style="width: 80px;">取消</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-success" ng-click="modelConfim(modelDat.title)" style="width: 80px;">确定</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>