<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>优惠券绑定</title>

    <link href="lib/bootstrap3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="lib/bootstrap3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <link href="lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet">
    <link href="lib/asDatepicker/css/asDatepicker.css" rel="stylesheet"/>

    <link href="css/ConfigStyle.css" rel="stylesheet">
    <link href="css/voucherBinding.css" rel="stylesheet"/>
</head>

<body ng-app="voucher" ng-controller="voucherCtrl">
<div class="outerContainer" id="head">
    <div class="AddBtnPanel" id="btnPanel">
        <button type="button" class="btn btn-success" ng-click="openFilter()">
            筛选
        </button>
        <div style="float: right">
            <button type="button" class="btn btn-success" ng-click="openBindChosen()">
                绑定选中
            </button>
            <button type="button" class="btn btn-success" ng-click="openBindAll()">
                绑定全部
            </button>
        </div>

        <div style="max-height: 500px ;overflow: scroll;margin-top:10px;">
            <table style="table-layout: fixed" width="100%"
                   class="table table-bordered table-hover table-condensed table-striped bg-white-only">
                <thead>
                <tr style="width: 900px" ng-click="checkAll()">
                    <th style="width: 40px;overflow: hidden;"> <!--<input type="checkbox" ng-model="all"/>--><input type="checkbox"/></th>
                    <th style="width: 100px;overflow: hidden;">昵称</th>
                    <th style="width: 80px;overflow: hidden;">真名</th>
                    <th style="width: 40px;overflow: hidden;">性别</th>
                    <th style="width: 40px;overflow: hidden;">年龄</th>
                    <th style="width: 80px;overflow: hidden;">总金额</th>
                    <th style="width: 60px;overflow: hidden;">订单数</th>
                    <th style="width: 150px;overflow: hidden;">最近下单时间</th>
                    <th style="width: 100px;overflow: hidden;">电话</th>
                    <th style="width: 150px;overflow: hidden;">身份证</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items">
                    <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis;text-align: center;" ng-click="checked($index)">
                        <!--<input type="checkbox" ng-checked="item.checked" ng-model="all"/>-->
                        <input type="checkbox" ng-checked="item.checked"/>
                    </td>
                    <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                        {{item.nickName}}
                    </td>
                    <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                        {{item.realName}}
                    </td>
                    <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                        {{(item.gender == 'D00401')?"男":"女"}}
                    </td>
                    <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                        {{item.age}}
                    </td>
                    <td  class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                        {{item.totalAmount}}
                    </td>
                    <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                        {{item.orders}}
                    </td>
                    <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                        {{item.recentOrder}}
                    </td>
                    <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                        {{item.iphone}}
                    </td>
                    <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                        {{item.idCard}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
</div>

<!--筛选模态框-->
<div class="modal fade" id="filterDialog" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">筛选
                </h4>
            </div>
            <div class="modal-body row">
                <div class="filterType col-sm-8">
                    <div class="form-group overflowh">
                        <input type="checkbox" name="filterType" class="col-sm-1 padding0 margintop10" ng-model="choseSex">

                        <div class="col-sm-11 padding0">
                            <label for="sex" class="col-sm-3 control-label padding0 lineheight34">性别</label>

                            <div class="col-sm-9 padding0">
                                <select class="form-control" id="sex" ng-model="filterSex" ng-disabled="!(choseSex)" >
                                    <option value="D00401">男</option>
                                    <option value="D00402">女</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group overflowh">
                        <input type="checkbox" name="filterType" class="col-sm-1 padding0 margintop10" ng-model="choseTel">

                        <div class="col-sm-11 padding0">
                            <label for="tel" class="col-sm-3 padding0 control-label lineheight34" >电话</label>

                            <div class="col-sm-9 padding0">
                                <input type="text" class="form-control" id="tel" ng-model="filterTel" ng-disabled="!(choseTel)">
                            </div>
                        </div>
                    </div>
                    <div class="form-group overflowh">
                        <input type="checkbox" name="filterType" class="col-sm-1 padding0 margintop10" ng-model="choseId">

                        <div class="col-sm-11 padding0">
                            <label for="idNum" class="col-sm-3 padding0 control-label lineheight34">身份证</label>

                            <div class="col-sm-9 padding0">
                                <input type="text" class="form-control" id="idNum" ng-model="filterIdCard" ng-disabled="!(choseId)">
                            </div>
                        </div>
                    </div>
                    <div class="form-group overflowh">
                        <input type="checkbox" name="filterType" class="col-sm-1 padding0 margintop10" ng-model="choseAge">

                        <div class="col-sm-11 padding0">
                            <label class="col-sm-3 control-label  padding0 lineheight34">年龄段</label>

                            <div class="input-group col-sm-9  padding0 choseBlock">
                                <div>
                                    <input type="number" class="form-control minChose" id="ageMin" ng-model="filterAgeMin" ng-disabled="!(choseAge)">
                                </div>
                                <span>~</span>
                                <div>
                                    <input type="number" class="form-control maxChose" id="ageMax" ng-model="filterAgeMax" ng-disabled="!(choseAge)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group overflowh">
                        <input type="checkbox" name="filterType" class="col-sm-1 padding0 margintop10" ng-model="choseAmount">

                        <div class="col-sm-11 padding0">
                            <label class="col-sm-3 control-label  padding0 lineheight34">总金额</label>

                            <div class="input-group col-sm-9  padding0 choseBlock">
                                <div>
                                    <input type="number" class="form-control minChose" id="costMin" ng-model="filterCostMin" ng-disabled="!(choseAmount)">
                                </div>
                                <span>~</span>
                                <div>
                                    <input type="number" class="form-control maxChose" id="costMax" ng-model="filterCostMax" ng-disabled="!(choseAmount)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group  overflowh">
                        <input type="checkbox" name="filterType" class="col-sm-1 padding0 margintop10" ng-model="choseTime">

                        <div class="col-sm-11 padding0">
                            <label class="col-sm-3 padding0 control-label lineheight34">最近下单时间</label>

                            <div class="input-group col-sm-9 padding0 choseBlock">
                                <div>
                                    <input placeholder="开始时间" type="text" class="form-control minChose" id="begin_time" ng-model="begin_time" ng-disabled="!(choseTime)"/>
                                </div>
                                <span>~</span>
                                <div>
                                    <input placeholder="结束时间" type="text" class="form-control maxChose" id="end_time" ng-model="end_time" ng-disabled="!(choseTime)"/>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="rank col-sm-3">
                    <p>排序</p>

                    <div class="rankValue">
                        <div class="radio">
                            <label>
                                <input type="radio" name="rankValue" ng-click="choseOrder('age')">
                                年龄
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="rankValue" ng-click="choseOrder('totalAmount')" checked>
                                总金额
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="rankValue" ng-click="choseOrder('orders')">
                                订单数
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="rankValue" ng-click="choseOrder('recentOrder')">
                                最近下单时间
                            </label>
                        </div>
                    </div>
                    <div class="rankOrder">
                        <div class="radio">
                            <label>
                                <input type="radio" name="rankOrder" ng-click="choseSort('desc')" checked>
                                降序
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="rankOrder" ng-click="choseSort('asc')">
                                升序
                            </label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" ng-click="filterConfirm()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!--绑定选定优惠券模态框-->
<div class="modal fade" id="bindChosenDialog" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">绑定选定优惠券<strong>(已选优惠券数量 >= 用户数)</strong>
                </h4>
            </div>
            <div class="modal-body">
                <div style="overflow: hidden;">
                    <div style="float: left;">已选用户:<span>{{chosenUserNum}}</span>人</div>
                    <div style="float: right;">已选优惠券:{{chosenVoucherNum}}张</div>
                </div>
                <div style="max-height: 500px;margin-top:10px;">
                    <table style="table-layout: fixed" width="100%"
                           class="table table-bordered table-hover table-condensed table-striped bg-white-only">
                        <thead>
                        <tr>
                            <th style="width: 5%;overflow: hidden;"></th>
                            <th style="width: 30%;overflow: hidden;">优惠券名称</th>
                            <th style="width: 10%;overflow: hidden;">金额</th>
                            <th style="width: 15%;overflow: hidden;">门槛</th>
                            <th style="width: 10%;overflow: hidden;">数量</th>
                            <th style="width: 30%;overflow: hidden;">到期时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="voucher in vouchers">
                            <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis;text-align: center;"  ng-click="voucherChecked($index)">
                                <input type="checkbox"  ng-checked="voucher.checked"/>
                            </td>
                            <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                                {{voucher.promotionName}}
                            </td>
                            <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                                {{voucher.voucherValue}}
                            </td>
                            <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                                {{voucher.satisfyLimit}}
                            </td>
                            <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                                {{voucher.number}}
                            </td>
                            <td  class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                                {{voucher.endTime}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="none btn btn-success" ng-click="bindselectConfirm()"  ng-class="{true: 'shownone', false: 'none'}[chosenVoucherNum >= chosenUserNum]">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!--绑定全部优惠券模态框-->
<div class="modal fade" id="bindAllDialog" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">绑定全部优惠券<strong>( 已选优惠券数量 >=  用户数)</strong>
                </h4>
            </div>
            <div class="modal-body">
                <div style="overflow: hidden;">
                    <div style="float: left;">已选用户:<span>{{allUserNum}}</span>人</div>
                    <div style="float: right;">已选优惠券:{{chosenVoucherNum}}张</div>
                </div>
                <div style="max-height: 500px;margin-top:10px;">
                    <table style="table-layout: fixed" width="100%"
                           class="table table-bordered table-hover table-condensed table-striped bg-white-only">
                        <thead>
                        <tr>
                            <th style="width: 5%;overflow: hidden;"></th>
                            <th style="width: 30%;overflow: hidden;">优惠券名称</th>
                            <th style="width: 10%;overflow: hidden;">金额</th>
                            <th style="width: 15%;overflow: hidden;">门槛</th>
                            <th style="width: 10%;overflow: hidden;">数量</th>
                            <th style="width: 30%;overflow: hidden;">到期时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="voucher in vouchers">
                            <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis;text-align: center;"  ng-click="voucherChecked($index)">
                                <input type="checkbox"  ng-checked="voucher.checked"/>
                            </td>
                            <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                                {{voucher.promotionName}}
                            </td>
                            <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                                {{voucher.voucherValue}}
                            </td>
                            <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                                {{voucher.satisfyLimit}}
                            </td>
                            <td class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                                {{voucher.number}}
                            </td>
                            <td  class="v-middle" style="overflow: hidden; white-space: nowrap;  text-overflow: ellipsis">
                                {{voucher.endTime}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button   type="button" class="none btn btn-success" ng-click="bindConfirm()" ng-class="{true: 'shownone', false: 'none'}[showornoshow]">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>


<!--Loading模态框-->
<div class="modal fade" id="loadingDialog" tabindex="-1" role="dialog" data-backdrop="false"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    LOADING...
                </h4>
            </div>
            <div class="modal-body loadingCover">
                <p>正在加载...</p>
                <img src="image/loading.gif">
            </div>
        </div>
    </div>
</div>


<script src="lib/jquery2.2.4/jquery.min.js"></script>
<script src="lib/bootstrap3.3.6/js/bootstrap.min.js"></script>

<script src="lib/angular1.5.7/angular.min.js"></script>
<script src="lib/angular1.5.7/angular-sanitize.min.js"></script>
<script src="js/conf.js" type="text/javascript"></script>

<script src="http://cdn.bootcss.com/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.js"></script>

<script src="lib/jquery-confirm/jquery-confirm.min.js"></script>
<script src="lib/asDatepicker/js/jquery-asDatepicker.js"></script>

<script src="js/ctrl/voucherBindingCtrl.js" type="text/javascript"></script>
<script src="js/service/voucherBindingService.js" type="text/javascript"></script>

<!--
<script src="js/util.js" type="text/javascript"></script>
-->
<script src="lib/zj/tm.pagination.js"></script>


</body>

</html>